<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <br>
  <br>
  <p class='align text-center'>Desenvolvivdo Por Mardonis Alves & Analista e Desenvolvedor web
  <a href="appdony.esy.es" data-toggle="tooltip" title=""></a>

  
  <div class="fb-like" data-href="https://www.codsytem.com.br" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</footer>