<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand active" href="#myPage"><img src="img/Bot.png" id="img"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#myPage"><span class=" glyphicon glyphicon-home">HOME</a></li>
        <li><a href="#QuemS"><span class=" glyphicon glyphicon-wrench">QUEM SOMOS</a></li>
        <li><a href="#servicos"><span class=" glyphicon glyphicon-wrench">NOSSOS SERVIÇOS</a></li>
        <li><a href="#tour"><span class=" glyphicon glyphicon-book">PORTIFOLIO</a></li>
        <li><a href="#contact"><span class=" glyphicon glyphicon-earphone">CONTATO</a></li>
      
      <li>
      <a data-toggle="modal" data-target="#login" href="#"><span class="glyphicon glyphicon-user"></span></a>
      </li>
      </ul>
    </div>
  </div>
</nav>
