<div id="QuemS" class="container-fluid text-center">
<br><br><br>
  <h3> <img src="img/seta.png" id="img-circle">Como Trabalhamos</h3>
  <br><br>
  <p>Temos as melhores ofertas e serviços para voce e a sua empresa , em desenvolvimnetos de sistemas web como,
  sites , blogs tambem é possivel adaptar o seu site para  dispositivos movies com responsividade ,   inovamos a sua marca deixamos tudo mais atraente ie intuitivo. </p>
  <br>
  <div class="row-fluid">
    <div class="col-sm-3">
      <p class="text-center"><strong>Tem uma Ideia?</strong></p><br>
      <a href="demo" data-toggle="collapse">
        <img src="img/Idea.png" id="img-circle">
      </a>
      <div id="demo" class="2">
        <p>Tem uma ideia ou um projeto web realizamos para vocé</p>
      </div>
    </div>

    <div class="col-sm-3">
      <p class="text-center"><strong>Avaliamos o seu projeto.</strong></p><br>
      <a href="demo" data-toggle="collapse">
        <img src="img/Service.png" id="img-circle">
      </a>
      <div id="demo1" class="">
        <p>Com muita responssabilidade avaliamos o seu sistemas de acordo com o seus requisitos </p>
      </div>
    </div>

    <div class="col-sm-3">
      <p class="text-center"><strong>Desenvolvemos</strong></p><br>
      <a href="demo2" data-toggle="collapse">
        <img src="img/Pencil.png" id="img-circle">
      </a>
      <div id="demo2" class="">
       <p>Um sistema desenvolvido e personalisado em padrões de tecnologias mais atuais do mercado.</p>
      </div>
    </div>
    <div class="col-sm-3">
      <p class="text-center"><strong>Melhor Orçamento.</strong></p><br>
      <a href="demo3" data-toggle="collapse">
        <img src="img/money.png" id="img-circle">
      </a>
      <div id="demo3" class="">
        <p>Ao final de tudo, um preço amigavel que cabe no seu bolso</p>
      </div>
    </div>
  </div>
</div>