<div id="servicos" class="containerfluid text-center">
<br>
<br>
  <h3> <img src="img/seta.png" id="img-circle">Nossos Serviços</h3>
 <br></br>
  <div class="row">
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail" id="thumbnail">
      <img src="img/consultoria.png" alt="..." class="w3-center w3-animate-left">
      <div class="caption">
        <h3>Consultoria</h3>
        <p>Consultoria  e levantamentos de requisitos do seu negocio</p>
        <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
      </div>
    </div>
  </div>
   

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail" id="thumbnail">
      <img src="img/site1.png" alt="...">
      <div class="caption">
        <h3>Sites</h3>
        <p>A marca da sua empresa , a primeira impressão é que fica</p>
        <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
      </div>
    </div>
  </div>

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail" id="thumbnail">
      <img src="img/erp.png" alt="...">
      <div class="caption">
        <h3>Sistema ERP</h3>
        <p>Sistema de gerenciamento de caixa,relatotios financeiros</p>
        <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
      </div>
    </div>
  </div>
  </div>
</div>